
  #navbar ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: red;
      position: fixed;
      overflow: hidden;
      top: 0;
      width: 100%;
    }
  @media only screen and (max-width: 600px) {
    body {
      background-color: blue;
    }
  }
